{
  "extends": ["airbnb", "prettier", "plugin:@typescript-eslint/recommended"],
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "settings": {
    "import/no-unresolved": "off",
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": 0,
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 4
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
   ],
   "react/prop-types": "off",
    "no-unused-vars": "warn",
    "no-tabs": "off",
    "no-case-declarations": "off",
    "no-unexpected-multiline": "error",
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": false,
        "assignment": false
      }
    ],
    "react/no-unescaped-entities": 0,
    "react/require-default-props": 0,
    "react/default-props-match-prop-types": 0,
    "react/jsx-props-no-spreading": "off",
    "no-nested-ternary": "off",
    "eqeqeq": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/control-has-associated-label": "off",
    "jsx-a11y/anchor-has-content": "off",
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "ecmaFeatures": {
    "legacyDecorators": "true"
  }
}